html, body, #root { height: 100%; }
* { box-sizing: border-box; }


html,
body,
#root {
  height: 100%;
  margin: 0;
  background: var(--app-bg-color);
  transition: background 0.3s ease;
}

* {
  box-sizing: border-box;
}


/* Alinha TUDO verticalmente no HeaderBar */
.hb-actions {
  height: 100%;
  display: flex;
  align-items: center;
}

/* Cada item do Space também centralizado e com 100% da altura */
.hb-actions .ant-space-item {
  height: 100%;
  display: flex;
  align-items: center;
}
