html, body, #root { height: 100%; }
* { box-sizing: border-box; }


html,
body,
#root {
  height: 100%;
  margin: 0;
  background: var(--app-bg-color);
  transition: background 0.3s ease;
}

* {
  box-sizing: border-box;
}
